#content{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#col1{
    min-width: 800px;
}
#col2{
    min-width: 200px;
    background-color: rgb(172, 51, 51);
}

#main-chart-overflow-container {
    flex: 1 1 auto;
    overflow: auto;
    max-height: 80%;
    min-height: 80%;
}
#main-chart-container {
    position: relative;
}

#main-chart {
    position: relative;
}
