#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#col1{
    min-width: 800px;
}
#col2{
    min-width: 200px;
    background-color: rgb(172, 51, 51);
}

#main-chart-container {
    overflow: auto;
    flex: 1 1 auto;
}

